
body{
font-family: Arial, Helvetica, sans-serif;
background-color: #090C1A ;
overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
#pichart {
overflow: hidden;
position: relative;
float: right;
background-color: #F0E5FC;
padding-top:0px;
padding-bottom:20px;
width: 384px;
height: 256px;
box-sizing: border-box;
border-radius:7px;
}
#myChart{
position: relative;
top: -23px;
}
#pichart h4 {
position: relative;
top: -13px;
left:12px;
letter-spacing: 1px;
font-weight: 900;
color:#962DFF
}
.legend{
position:absolute;
translate: 1370% -141%;
width: 20px;
height: 20px;
border-radius: 5px;
font-size: 10px;
}
#sold{
background-color: #C893FD;
top: 94px;
}
#sold h3, #unsold h3{
position:absolute;
top: 0px;
left:24px;
width: 300px;
font-size: 9px;
}
#unsold{
background-color: #962DFF;
}
.pi-stat-1{
position:absolute;
top: 94px;
left: 254px;
}
.pi-stat-1 h1,.pi-stat-1 h5{
margin: 0;
}
.pi-stat-1 h1{
font-size: 48px;
font-weight: 900;
text-align: center;
}
.pi-stat-1 h5{
position: relative;
top:-12px;
font-size: 8px;
font-weight: 900;
}
.pi-stat-2{
position:absolute;
top: 157px;
left: 265px;
}
.pi-stat-2 h1,.pi-stat-2 h5{
margin: 0;
}
.pi-stat-2 h1{
font-size: 48px;
font-weight: 900;
text-align: center;
}
.pi-stat-2 h5{
position: relative;
top:-12px;
font-size: 8px;
font-weight: 900;
}
.pi-stat-1 h1,
.pi-stat-1 h5,
.pi-stat-2 h1,
.pi-stat-2 h5{
color:#240B3D
}
#bargraph-container{
border-radius: 5px;
background-color:#F0E5FC;
padding: 13px;
padding-top: 30px;
width:100vw;
max-width: 1095px;
}
#bargraph-container h4{
position: relative;
top: -23px;
left: 4px;
margin: 0;
letter-spacing: 1px;
font-weight: 900;
color: #962DFF;
}
#top-movie{
position: relative;
float: right;
width: 384px;
height: 150px;
top: -149px;
border-radius: 7px;
background-color: #F0E5FC;
}
#top-movie #poster{
position: relative;
top: 6px;
left: 9px;
width: 94px;
height: 139px;
overflow: hidden;
border-radius: 5px;
background-color: aqua;
}
#poster img{
position: relative;
left: 50%;
translate: -50%;
height: 100%;
}
#top-movie h4{
position: relative;
top: -159px;
left: 172px;
letter-spacing: 1px;
font-weight: 900;
color: #962DFF;
}
#top-movie h1,
#top-movie h3,
#top-movie p{
position: relative;
top: -180px;
left: 60px;
margin: 0;
text-align: center;
color: #240B3D;
}
#top-movie h3{
font-weight: 900;
font-size: 13px;
letter-spacing: 1px;
top:-210px
}
#top-movie h1{
font-weight: 900;
font-size: 56px;
letter-spacing: 1px;
top: -195px;
}
#top-movie p{
font-weight: 900;
letter-spacing: 1px;
font-size: 30px;
margin-bottom: 2px;
}
#top-venue{
background-color: #F0E5FC;
width: 73vw;
height: 90px;
border-radius: 7px;
position: relative;
top: -9px;
}
#top-venue h4{
position: relative;
top: 3px;
left:12px;
letter-spacing: 1px;
font-weight: 900;
color:#962DFF
}
#top-venue h1,
#top-venue h3{
color: #240B3D;
margin: 0;
position: relative;
top: -15px;
left: 15px;
}
#top-venue #bookings{
position: relative;
float: right;
top: -100px;
right: 20px;
color: #090C1A;
}
#top-venue #bookings h3,
#top-venue #bookings h5{
margin:0;
}
#top-venue #bookings h3{
position: relative;
top: 2px;
font-weight: 900;
font-size: 43px;
}
#subscriber{
background-color: #F0E5FC;
width: 384px;
height: 90px;
position: relative;
float: right;
left: 30.8%;
top: -111px;
border-radius: 7px;
}
#subscriber h4{
position: relative;
top: 3px;
left:12px;
letter-spacing: 1px;
font-weight: 900;
margin: 0;
color:#962DFF
}
#subscriber h1{
margin: 0;
text-align: center;
position: relative;
top: -14px;
font-weight: 900;
font-size: 58px;
color: #240B3D;
}
#tables{
display: flex;
width: 95%;
position: relative;
left: 50%;
translate: -50% -120%;
}
#toggle-button{
display:flex;
translate: 0px 11px;
}
#theater-buttton, #show-buttton{
background-color:white;
width:110px;
max-height: 10px;
padding:9px 0px 16px 0px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
letter-spacing: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-color: #AEBDC2;
cursor: pointer;

}
#theater-buttton{
border-radius:99px 0px 0px 99px;
border-left-style: solid;
}
#show-buttton{
border-radius:0px 99px 99px 0px;
border-right-style: solid;
background-color:#962DFF;
color:white;
}
#tables h1{
margin: 0;
box-sizing: border-box;
padding-left: 20px;
width: 83%;
font-size: 50px;
color: whitesmoke;
}

#show-table {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
overflow: scroll;
}

#show-table td, #show-table th {
border: 1px solid #ddd;
padding: 8px;
}

#show-table tr{background-color: #f2f2f2;}

#show-table tr:hover {background-color: #ddd;}

#show-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #962DFF;
color: white;
}

#theater-table {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#theater-table td, #theater-table th {
border: 1px solid #ddd;
padding: 8px;
}

#theater-table tr{background-color: #f2f2f2;}

#theater-table tr:hover {background-color: #ddd;}

#theater-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #962DFF;
color: white;
}
#theater-table, #show-table{
position: relative;
left: 50%;
width: 95%;
translate: -50% -51px;
}

#headder{
position: relative;
width: 100%;
height: 45px;
background-color:#F0E5FC;
margin-bottom: 11px;
box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
border-radius: 7px;
box-sizing: border-box;
padding-top: 5px;
}

#headder p,
#headder a,
#headder h3,
#headder #add-buttons{
position: relative;
margin: 0;
display: inline-block;
}
#headder i{
position: relative;
top: 3px;
}
#logout{
top:7px;
float: right;
right: 20px;
}
#add-buttons{
left:50%;
transform: translate(-71%)
}
#headder h3{
margin-right: 20px;
}
#headder p{
left: 20px;
color:#962DFF
}
.deleteButtonContainer { 
padding: 0px !important; 
}
.deleteButton{
margin: 0;
width: 100%;
height: 34px;
box-sizing: border-box;
padding-top:7px;
background-color: rgb(197, 22, 22);
text-align: center;
color: aliceblue;
cursor: pointer;
}
.deleteButton:hover{
background-color: rgb(255, 0, 0);
}
