<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/CSS/dashbord.css">
    <title>Admin Dashbord</title>
</head>

<body>
    <div id="headder">
        <p>@ [[ current_user.username ]]</p>

        <div id="add-buttons">
        <i class="fa fa-plus-circle" style="font-size:28px;color:#962DFF"></i>
        <a href="/admin/update_venue"><h3>Add Venue</h3></a>
        <i class="fa fa-plus-circle" style="font-size:28px;color:#962DFF"></i>
        <a href="/admin/update_show"> <h3>Add Show</h3></a>
        </div>

        <a href="[[ url_for('logout') ]]" id="logout">Logout</a>
    </div>
    <div id="app">
        <div id='pichart'>
        <h4>TICKET BOOKING STAT</h4>
        <div class="legend" id="unsold"><h3>TICKET SOLD</h3></div>
        <div class="legend" id="sold"><h3>TICKET UNSOLD</h3></div>
        <canvas id="myChart" style="width: 100%; max-width: 600px;"></canvas>
        <div class="pi-stat-1">
            <h1>{{ TOTAL_TICKETS }}</h1>
            <h5>TOTAL TICKETS AT START</h5>
        </div>

        <div class="pi-stat-2">
            <h1>{{ TICKETS_SOLD }}</h1>
            <h5>TOTAL TICKETS SOLD</h5>
        </div>
        </div>
        <div id="bargraph-container">
        <h4>TICKET BOOKING STAT</h4>
        <div id='barchart' style="width: 72vw; max-width:1100px;height: 350px;"></div>
        </div>
        <div id="top-movie">
            <div id="poster"><img :src="top_poster"></div>
            <h4>TOP SELLING MOVIE</h4>
            <p>{{top_movie_name}}</p>
            <h1>{{top_movie_name_tickets_booked}}</h1>
            <h3>TICKETS BOOKED</h3>
        </div>
        <div id="top-venue">
            <h4>MOST BOOKED VENUE</h4>
            <h1>{{ top_venue }}</h1>
            <h3>{{top_venue_place}}</h3>
            <div id='bookings'>
               <h3>{{top_venue_booking}}</h3>
               <h5>BOOKINGS</h5>
            </div>
        </div>
        <div id="subscriber">
            <h4>TOTAL USERS</h4>
            <h1 id="count">{{users}}</h1>
        </div>
        <div id="tables">
            <h1 v-if="theater">Theater Data</h1>
            <h1 v-if="show">Show Data</h1>
            <div id='toggle-button'>
                <div id='theater-buttton' @click="selectTheater">Theaters</div><div id='show-buttton' @click="selectShow">Shows</div>
            </div>
        </div>
       
        <table id="show-table" v-if="show">
            <tr>
              <th style="width:18%">Name</th>
              <th style="width:38%">Location</th>
              <th style="width:8%">Date</th>
              <th style="width:8%">Seats</th>
              <th style="width:8%">price</th>
              <th style="width:7%"></th>
            </tr>
            
            <tr v-for="show in shows">
              <td>{{show[0]}}</td>
              <td>{{show[1]}} - {{show[2]}}</td>
              <td>{{show[4]}}</td>
              <td>{{show[3]}}</td>
              <td>{{show[5]}}</td>
              <td class='deleteButtonContainer' @click="deleteShow(show[6])"  ><h3 class="deleteButton">DELETE</h3></td>
            </tr>
    
        </table>
       
        <table id="theater-table" v-if="theater">
            <tr>
              <th style="width:4%">Id</th>
              <th style="width:18%">Theater</th>
              <th style="width:48%">Location</th>
              <th style="width:7%"></th>
            </tr>
            <tr v-for="venue in theaters">
              <td>{{ venue[0] }}</td>
              <td>{{ venue[1] }}</td>
              <td>{{ venue[2] }}</td>
              <td class='deleteButtonContainer' @click="deleteVenue(venue[0])"  ><h3 class="deleteButton">DELETE</h3></td>
            </tr>
            
          </table>
    </div>
    <script>
    const app = Vue.createApp({
        data(){
            return{
                x:null,
                y:null,
                xValues:["TICKET SOLD", "TICKET UNSOLD"],
                yValues:null,
                TOTAL_TICKETS:null,
                TICKETS_SOLD:null,
                barColors:["#962DFF","#C893FD",],
                top_poster:null,
                top_movie_name:null,
                top_movie_name_tickets_booked:null,
                top_venue:null,
                top_venue_place:null,
                top_venue_booking:null,
                users:null,
                theater:false,
                show:true,
                theaters:null,
                shows:null
            }
        },
        mounted(){
            let temp= [[ data|tojson ]]
            this.theaters=temp.venuue_data
            this.shows=temp.show_data
            this.top_poster=temp.poster
            this.top_venue=temp.top_venue[0]
            this.top_venue_place=temp.top_venue[1]
            this.top_venue_booking=temp.max_bookings
            this.yValues= [temp.pidata[1],temp.pidata[0]-temp.pidata[1]]
            this.TOTAL_TICKETS=temp.pidata[0]
            this.TICKETS_SOLD=temp.pidata[1]
            this.users=temp.users
            new Chart("myChart", {
                type: "pie",
                data: {
                labels: this.xValues,
                datasets: [{
                    backgroundColor: this.barColors,
                    borderColor: '#F0E5FC', 
                    data: this.yValues
                }]
                },
                options: {
                title: {
                    display: false // Remove the title
                },
                legend: {
                    display: false // Remove the legends
                },
                layout: {
                    padding: {
                    left: -160 // Position the chart to the left
                    }
                }
                }
            });
            
            const max = temp.tickets.reduce((a,b) => Math.max(a,b));
            this.top_movie_name_tickets_booked=max
            const index = temp.tickets.findIndex(element => element === max)
            this.top_movie_name=temp.movie_name[index]
            this.x=temp.movie_name
            this.y=temp.tickets
            var data = [
                        {
                            x: this.x,
                            y: this.y,
                            type: 'bar',
                            marker: {
                            color: '#962DFF',
                            }
                        }
                        ];
            var layout = {
                            paper_bgcolor: '#f8f8f8',
                            plot_bgcolor: '#f8f8f8',
                            xaxis: {showticklabels: false},
                            margin: {
                                l: 50, // left margin
                                r: 10, // right margin
                                t: 20, // top margin
                                b: 10 // bottom margin
                            }
                        }
            Plotly.newPlot('barchart', data,layout);

            let theaterButtton= document.getElementById('theater-buttton')
            let showButtton=document.getElementById('show-buttton')

            theaterButtton.addEventListener("click",function(){
                                            theaterButtton.style.backgroundColor='#962DFF'
                                            theaterButtton.style.color='white'
                                            showButtton.style.backgroundColor='white'
                                            showButtton.style.color='black'
                                            });

            showButtton.addEventListener("click",function(){
                                        showButtton.style.backgroundColor='#962DFF'
                                        showButtton.style.color='white'
                                        theaterButtton.style.backgroundColor='white'
                                        theaterButtton.style.color='black'
                                        });
            
        },
        methods:{
            selectShow() {
                this.theater = false;
                this.show = true;
                },
            selectTheater() {
                this.theater = true;
                this.show = false;
                },
            deleteVenue(id){
                    const token = localStorage.getItem('admin_access_token');
                    const headers = { "Authorization": `Bearer ${token}` };
                    axios.delete(`/api/venue/${id}`,{ headers })
                        .then(response => {
                            // Handle successful deletion if the server returns a response
                            console.log('Venue deleted successfully!', response.data);
                            return axios.get('/api/update_venue_data');
                        }).then(response => {
                            this.theaters = response.data;
                        })
                        .catch(error => {
                            // Handle error if the deletion fails or server returns an error
                            console.error('Error deleting venue:', error);
                        });
                },
            deleteShow(ids){
                    const token = localStorage.getItem('admin_access_token');
                    const headers = { "Authorization": `Bearer ${token}` };

                    axios.delete(`/api/show/${ids[0]}/${ids[1]}/${ids[2]}`, { headers })
                        .then(response => {
                            // Handle successful deletion if the server returns a response
                            console.log('Show deleted successfully!', response.data);
                            return axios.get('/api/update_show_data');
                        }).then(response => {
                            this.shows = response.data;
                        })
                        .catch(error => {
                            // Handle error if the deletion fails or server returns an error
                            console.error('Error deleting venue:', error);
                        });
                }
        }
    })
    app.mount('#app');
    const admin_access_token = "[[ access_token ]]"
    localStorage.setItem('admin_access_token', admin_access_token);
    </script>
</body>
</html>