<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/CSS/filter.css">
    <title>Filter</title>
    
</head>
<body>
        <a href="/welcome" class="nav" id="home"><i class="fa fa-home" style="font-size:24px;color:rgb(236, 236, 236)"></i></a>
        <a href="/user_bookings/[[ current_user.username ]]" class="nav" id="booking">My Bookings</a>
        <a href="[[ url_for('logout') ]]" class="nav" id="logout">Logout</a>
    
    <div id="app" v-cloak >
        <div v-if='movies.length > 0' >
            <p id='heading'>Availabel Movies</p>
            <div id='filter'>
                <div class='tag first' v-if='genre != "none"'> <h3>{{genre }}</h3> </div>
                <div class='tag' v-if='venue != "none"'> <h3>{{ venue }}</h3> </div>
                <div class='tag' v-if='rating != "none"'> <h3>{{ rating }}</h3> </div>
                <div id="library">
                
                <movie-cards  v-for='titles in movies' :title="titles"></movie-cards>
                </div>
            </div>
        </div>
        <div v-else> 
            <img id="error-img" src="static\\Images\\404.png">
            <h3  id="error-massage">Looks Like There Are No Movies For Your Choice</h3>
            <a href="/welcome"><div>GO TO HOME</div></a>
        </div>
    </div>

    <script>
      const app = Vue.createApp({
        data(){
            return{
                venue:'',
                rating:'',
                genre:'',
                movies:''
            }
        },
        mounted(){
            let temp= [[ data|tojson ]]
            this.venue=temp[0].venue
            this.genre=temp[0].genre
            this.rating=temp[0].rating
            this.movies=temp[0].title
           
        }
      });
      
      app.component('movie-cards', {
            template: `
            <div class='card'>
		    <div class=content>
                <div class= card-poster>
                    <div class='rating'>{{ rating }}/5</div>
                    <img :src='poster'>
                </div>
                <div class='info'>
                    <h1> {{ title }}</h1>
                    <div class='summary'>
                        <p>{{ summary }}.</p>
                    </div>
                <button  @click="openLink" type="button">Booke A Ticket </button>
                </div>
	        </div>
            </div>
            `,

            props: ['title'],
            data() {
                return {
                    cards: null,
                    poster: '',
                    rating: '',
                    summary: '',
                    show_id: '/booking/'
                }
            },

            mounted() {
                url = '/api/movie/' + this.title
                axios.get(url)
                    .then(response => {
                        this.rating = response.data.rating
                        this.poster = response.data.poster
                        let id = response.data.id
                        this.show_id = this.show_id + id
                    })
                    .catch(error => {
                        console.error(error);
                    });

                url = 'http://www.omdbapi.com/?t=' + this.title + '&apikey=78f7079e';
                axios.get(url)
                    .then(response => {
                        this.summary = response.data.Plot
                    }).catch(error => {
                        console.error(error);
                    }); 
            },

            methods: {
                openLink() {
                    // window.open(this.show_id);//
                    window.location.href = this.show_id
                }
            }
        })
      app.mount('#app');

      setTimeout(() => {
        const cards = document.getElementsByClassName('card');
                    for (let i = 0; i < cards.length; i++) {
                        const card = cards[i];
                        card.addEventListener('click', function () {
                            // Remove the 'expand' class from all cards
                            for (let j = 0; j < cards.length; j++) {
                                if (cards[j] !== card) {
                                    cards[j].classList.remove('expand');
                                }
                            }

                            // Toggle the 'expand' class on the clicked card
                            card.classList.toggle('expand');
                        });
                    }
  }, 500);
      
      
      
    </script>
</body>
</html>