<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/CSS/welcome.css">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <!-- Nav Bar -->
        <ul>
            <li><a class="active" href="#home"><i class="fa fa-home"
                        style="font-size:24px;color:rgb(236, 236, 236)"></i></a></li>
            <li><a href="/user_bookings/[[ current_user.username ]]">My Bookings</a></li>
            <li><a href="#about">About</a></li>
            <li style="float:right"><a href="[[ url_for('logout') ]]">Logout</a></li>
        </ul>

        <!-- carousel -->
        <p id="greatings">Welcome @ [[ current_user.username ]]</p>
        <img-carousel></img-carousel>

        <p id="pop-massage">Please Select One Option</p>>
        <!-- Search Bar -->
        <div class='search'>
            <form id="form" method="POST" action=" /filter" onsubmit="validateForm(event)">
                Genre:
                <select id="genre" name="genre" required>
                    <option value="none" selected hidden>Select an Option</option>
                    <option v-for='genre in genres' :value="genre">{{ genre }}</option>
                </select>
                Place:
                <select id="place" name="place" required>
                    <option value="none" selected hidden> Place</option>
                    <option v-for='venue in venues' :value="venue">{{ venue }}</option>
                </select>
                Rating:
                <select id="rating" name="rating" required>
                    <option value='none' selected hidden>Rating</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
                <input type="submit" form="form" formmethod="post">
            </form>
        </div>

        <!-- Movies -->
        <div id="library">        
            <movie-cards  v-for='titles in movies' :title="titles"></movie-cards>
        </div>
    </div>
    <script src='/static/JS/welcome.js'></script>
    
</body>

</html>